
.img-circle {
	width: 100px;
	height: 100px;
	float: left;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
	padding: 10px;
	list-style: none;
}

.nav-container {
    
	float: right;
	margin-right: 50px;
	flex: 1;

}

.nav {
	position: fixed;
}

