<!DOCTYPE html>
<html>
  <head>
    <title>Iglux Industry</title>
    <meta charset="utg-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale:">
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="style/styles.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body class="body">
   <div class=container-fluid>
    <header>
      <div>
        <h2>iGLux</h2>
      </div>
    </header>
    <div class ="container__general">
      <ul class="list">
        <a href="#"><li>Home</li></a>
        <a href="#"><li>About</li></a>
        <a href="#"><li>Services</li></a>
        <a href="#"><li>Contact</li></a>
      </ul>
    </div>
   </div> 
  </body>
</html>